:root {
  --gradient-stroke: linear-gradient(to right, #E06C75, #6B90DF);
  --variable-collection-background-card: rgba(253, 253, 253, 0.05);
  --primary-1: rgba(44, 45, 49, 1);
  --primary-2: rgba(224, 108, 117, 1);
  --secondary: rgba(107, 144, 223, 1);
  --tertiary-1: rgba(175, 188, 220, 1);
  --tertiary-2: rgba(233, 234, 236, 1);
  --success: rgba(81, 231, 134, 1);
  --warning: rgba(255, 207, 120, 1);
  --error: rgba(255, 94, 103, 1);
  --foundationprimary-black50: rgba(234, 234, 234, 1);
  --foundationprimary-black100: rgba(22z3, 224, 224, 1);
  --foundationprimary-black200: rgba(190, 190, 191, 1);
  --foundationprimary-black300normal: rgba(44, 45, 49, 1);
  --foundationprimary-black400: rgba(40, 41, 44, 1);
  --foundationprimary-black500: rgba(35, 36, 39, 1);
  --foundationprimary-black600: rgba(33, 34, 37, 1);
  --foundationprimary-black700: rgba(26, 27, 29, 1);
  --foundationprimary-black800: rgba(20, 20, 22, 1);
  --foundationprimary-black900black: rgba(15, 16, 17, 1);
  --foundationprimary-red50: rgba(252, 240, 241, 1);
  --foundationprimary-red100: rgba(250, 233, 234, 1);
  --foundationprimary-red200: rgba(245, 209, 212, 1);
  --foundationprimary-red300normal: rgba(224, 108, 117, 1);
  --foundationprimary-red400: rgba(202, 97, 105, 1);
  --foundationprimary-red500: rgba(179, 86, 94, 1);
  --foundationprimary-red600: rgba(168, 81, 88, 1);
  --foundationprimary-red700: rgba(134, 65, 70, 1);
  --foundationprimary-red800: rgba(101, 49, 53, 1);
  --foundationprimary-red900: rgba(78, 38, 41, 1);
  --foundationsecondary-blue50: rgba(240, 244, 252, 1);
  --foundationsecondary-blue100: rgba(233, 238, 250, 1);
  --foundationsecondary-blue200: rgba(209, 221, 245, 1);
  --foundationsecondary-blue300normal: rgba(107, 144, 223, 1);
  --foundationsecondary-blue400: rgba(96, 130, 201, 1);
  --foundationsecondary-blue500: rgba(86, 115, 178, 1);
  --foundationsecondary-blue600: rgba(80, 108, 167, 1);
  --foundationsecondary-blue700: rgba(64, 86, 134, 1);
  --foundationsecondary-blue800: rgba(48, 65, 100, 1);
  --foundationsecondary-blue900: rgba(37, 50, 78, 1);
  --foundationtertiary-ligth-blue50: rgba(247, 248, 252, 1);
  --foundationtertiary-ligth-blue100: rgba(243, 245, 250, 1);
  --foundationtertiary-ligth-blue200: rgba(230, 234, 244, 1);
  --foundationtertiary-ligth-blue300normal: rgba(175, 188, 220, 1);
  --foundationtertiary-ligth-blue400: rgba(158, 169, 198, 1);
  --foundationtertiary-ligth-blue500: rgba(140, 150, 176, 1);
  --foundationtertiary-ligth-blue600: rgba(131, 141, 165, 1);
  --foundationtertiary-ligth-blue700: rgba(105, 113, 132, 1);
  --foundationtertiary-ligth-blue800: rgba(79, 85, 99, 1);
  --foundationtertiary-ligth-blue900: rgba(61, 66, 77, 1);
  --foundationtertary-gray50white: rgba(253, 253, 253, 1);
  --foundationtertary-gray100: rgba(252, 252, 252, 1);
  --foundationtertary-gray200: rgba(248, 248, 249, 1);
  --foundationtertary-gray300normal: rgba(233, 234, 236, 1);
  --foundationtertary-gray400: rgba(210, 211, 212, 1);
  --foundationtertary-gray500: rgba(186, 187, 189, 1);
  --foundationtertary-gray600: rgba(175, 176, 177, 1);
  --foundationtertary-gray700: rgba(140, 140, 142, 1);
  --foundationtertary-gray800: rgba(105, 105, 106, 1);
  --foundationtertary-gray900: rgba(82, 82, 83, 1);
  --e: rgba(233, 234, 236, 1);
  --muted: rgba(255, 255, 255, 0.6);
  --light: rgba(255, 255, 255, 0.05);
  --texto-input-label-font-family: "Open Sans", Helvetica;
  --texto-input-label-font-weight: 400;
  --texto-input-label-font-size: 16px;
  --texto-input-label-letter-spacing: 0px;
  --texto-input-label-line-height: 24px;
  --texto-input-label-font-style: normal;
  --texto-input-placeholder-font-family: "Open Sans", Helvetica;
  --texto-input-placeholder-font-weight: 400;
  --texto-input-placeholder-font-size: 16px;
  --texto-input-placeholder-letter-spacing: 0.15000000596046448px;
  --texto-input-placeholder-line-height: 20px;
  --texto-input-placeholder-font-style: normal;
  --texto-input-help-text-font-family: "Open Sans", Helvetica;
  --texto-input-help-text-font-weight: 400;
  --texto-input-help-text-font-size: 14px;
  --texto-input-help-text-letter-spacing: 0.25px;
  --texto-input-help-text-line-height: 18px;
  --texto-input-help-text-font-style: normal;
  --h1-60-opensans-semibold-font-family: "Open Sans", Helvetica;
  --h1-60-opensans-semibold-font-weight: 600;
  --h1-60-opensans-semibold-font-size: 60px;
  --h1-60-opensans-semibold-letter-spacing: -3px;
  --h1-60-opensans-semibold-line-height: normal;
  --h1-60-opensans-semibold-font-style: normal;
  --body-large-18-mono-font-family: "Roboto Mono", Helvetica;
  --body-large-18-mono-font-weight: 400;
  --body-large-18-mono-font-size: 18px;
  --body-large-18-mono-letter-spacing: 0px;
  --body-large-18-mono-line-height: 27px;
  --body-large-18-mono-font-style: normal;
  --body-16-mono-font-family: "Roboto Mono", Helvetica;
  --body-16-mono-font-weight: 400;
  --body-16-mono-font-size: 16px;
  --body-16-mono-letter-spacing: 0px;
  --body-16-mono-line-height: 24px;
  --body-16-mono-font-style: normal;
  --h-20-open-regular-font-family: "Open Sans", Helvetica;
  --h-20-open-regular-font-weight: 400;
  --h-20-open-regular-font-size: 20px;
  --h-20-open-regular-letter-spacing: 0px;
  --h-20-open-regular-line-height: 30px;
  --h-20-open-regular-font-style: normal;
  --h-20-open-medium-font-family: "Open Sans", Helvetica;
  --h-20-open-medium-font-weight: 400;
  --h-20-open-medium-font-size: 20px;
  --h-20-open-medium-letter-spacing: 0px;
  --h-20-open-medium-line-height: 30px;
  --h-20-open-medium-font-style: normal;
  --h4-30-open-semibold-font-family: "Open Sans", Helvetica;
  --h4-30-open-semibold-font-weight: 600;
  --h4-30-open-semibold-font-size: 30px;
  --h4-30-open-semibold-letter-spacing: -1.2px;
  --h4-30-open-semibold-line-height: normal;
  --h4-30-open-semibold-font-style: normal;
  --h3-40-open-semibold-font-family: "Open Sans", Helvetica;
  --h3-40-open-semibold-font-weight: 600;
  --h3-40-open-semibold-font-size: 40px;
  --h3-40-open-semibold-letter-spacing: -1.6px;
  --h3-40-open-semibold-line-height: normal;
  --h3-40-open-semibold-font-style: normal;
  --h5-24-open-semibold-font-family: "Open Sans", Helvetica;
  --h5-24-open-semibold-font-weight: 600;
  --h5-24-open-semibold-font-size: 24px;
  --h5-24-open-semibold-letter-spacing: -0.96px;
  --h5-24-open-semibold-line-height: normal;
  --h5-24-open-semibold-font-style: normal;
  --h2-50-open-semibold-font-family: "Open Sans", Helvetica;
  --h2-50-open-semibold-font-weight: 600;
  --h2-50-open-semibold-font-size: 50px;
  --h2-50-open-semibold-letter-spacing: -2px;
  --h2-50-open-semibold-line-height: normal;
  --h2-50-open-semibold-font-style: normal;
  --button-text-18-opensans-font-family: "Open Sans", Helvetica;
  --button-text-18-opensans-font-weight: 600;
  --button-text-18-opensans-font-size: 18px;
  --button-text-18-opensans-letter-spacing: 0px;
  --button-text-18-opensans-line-height: normal;
  --button-text-18-opensans-font-style: normal;
  --subt-tulo-24-roboto-medium-font-family: "Roboto", Helvetica;
  --subt-tulo-24-roboto-medium-font-weight: 500;
  --subt-tulo-24-roboto-medium-font-size: 24px;
  --subt-tulo-24-roboto-medium-letter-spacing: 0px;
  --subt-tulo-24-roboto-medium-line-height: 40px;
  --subt-tulo-24-roboto-medium-font-style: normal;
  --text-buttons-font-family: "Open Sans", Helvetica;
  --text-buttons-font-weight: 600;
  --text-buttons-font-size: 18px;
  --text-buttons-letter-spacing: 0px;
  --text-buttons-line-height: normal;
  --text-buttons-font-style: normal;
  --body-large-18-regular-font-family: "Open Sans", Helvetica;
  --body-large-18-regular-font-weight: 400;
  --body-large-18-regular-font-size: 18px;
  --body-large-18-regular-letter-spacing: 0px;
  --body-large-18-regular-line-height: 27px;
  --body-large-18-regular-font-style: normal;
  --body-large-18-medium-font-family: "Open Sans", Helvetica;
  --body-large-18-medium-font-weight: 400;
  --body-large-18-medium-font-size: 18px;
  --body-large-18-medium-letter-spacing: 0px;
  --body-large-18-medium-line-height: 27px;
  --body-large-18-medium-font-style: normal;
  --body-16-regular-font-family: "Open Sans", Helvetica;
  --body-16-regular-font-weight: 400;
  --body-16-regular-font-size: 16px;
  --body-16-regular-letter-spacing: 0px;
  --body-16-regular-line-height: 24px;
  --body-16-regular-font-style: normal;
  --body-16-medium-font-family: "Open Sans", Helvetica;
  --body-16-medium-font-weight: 400;
  --body-16-medium-font-size: 16px;
  --body-16-medium-letter-spacing: 0px;
  --body-16-medium-line-height: 24px;
  --body-16-medium-font-style: normal;
  --footnote-14-regular-font-family: "Open Sans", Helvetica;
  --footnote-14-regular-font-weight: 400;
  --footnote-14-regular-font-size: 14px;
  --footnote-14-regular-letter-spacing: 0px;
  --footnote-14-regular-line-height: 20px;
  --footnote-14-regular-font-style: normal;
  --footnote-14-medium-font-family: "Open Sans", Helvetica;
  --footnote-14-medium-font-weight: 400;
  --footnote-14-medium-font-size: 14px;
  --footnote-14-medium-letter-spacing: 0px;
  --footnote-14-medium-line-height: 20px;
  --footnote-14-medium-font-style: normal;
  --caption-13-regular-font-family: "Open Sans", Helvetica;
  --caption-13-regular-font-weight: 400;
  --caption-13-regular-font-size: 13px;
  --caption-13-regular-letter-spacing: 0px;
  --caption-13-regular-line-height: 20px;
  --caption-13-regular-font-style: normal;
  --caption-13-medium-font-family: "Open Sans", Helvetica;
  --caption-13-medium-font-weight: 400;
  --caption-13-medium-font-size: 13px;
  --caption-13-medium-letter-spacing: 0px;
  --caption-13-medium-line-height: 20px;
  --caption-13-medium-font-style: normal;
  --small-12-regular-font-family: "Open Sans", Helvetica;
  --small-12-regular-font-weight: 400;
  --small-12-regular-font-size: 12px;
  --small-12-regular-letter-spacing: 0px;
  --small-12-regular-line-height: 18px;
  --small-12-regular-font-style: normal;
  --small-12-medium-font-family: "Open Sans", Helvetica;
  --small-12-medium-font-weight: 400;
  --small-12-medium-font-size: 12px;
  --small-12-medium-letter-spacing: 0px;
  --small-12-medium-line-height: 18px;
  --small-12-medium-font-style: normal;
  --mobile-heading-1-40-semibold-font-family: "Roboto", Helvetica;
  --mobile-heading-1-40-semibold-font-weight: 600;
  --mobile-heading-1-40-semibold-font-size: 40px;
  --mobile-heading-1-40-semibold-letter-spacing: -1.6px;
  --mobile-heading-1-40-semibold-line-height: normal;
  --mobile-heading-1-40-semibold-font-style: normal;
  --mobile-heading-2-30-semibold-font-family: "Roboto", Helvetica;
  --mobile-heading-2-30-semibold-font-weight: 600;
  --mobile-heading-2-30-semibold-font-size: 30px;
  --mobile-heading-2-30-semibold-letter-spacing: -1.2px;
  --mobile-heading-2-30-semibold-line-height: normal;
  --mobile-heading-2-30-semibold-font-style: normal;
  --mobile-heading-3-28-semibold-font-family: "Roboto", Helvetica;
  --mobile-heading-3-28-semibold-font-weight: 600;
  --mobile-heading-3-28-semibold-font-size: 28px;
  --mobile-heading-3-28-semibold-letter-spacing: -1.12px;
  --mobile-heading-3-28-semibold-line-height: normal;
  --mobile-heading-3-28-semibold-font-style: normal;
  --mobile-heading-4-24-semibold-font-family: "Roboto", Helvetica;
  --mobile-heading-4-24-semibold-font-weight: 600;
  --mobile-heading-4-24-semibold-font-size: 24px;
  --mobile-heading-4-24-semibold-letter-spacing: -0.96px;
  --mobile-heading-4-24-semibold-line-height: normal;
  --mobile-heading-4-24-semibold-font-style: normal;
  --footnote-14-mono-font-family: "Roboto Mono", Helvetica;
  --footnote-14-mono-font-weight: 400;
  --footnote-14-mono-font-size: 14px;
  --footnote-14-mono-letter-spacing: 0px;
  --footnote-14-mono-line-height: 20px;
  --footnote-14-mono-font-style: normal;
  --caption-13-mono-font-family: "Roboto Mono", Helvetica;
  --caption-13-mono-font-weight: 400;
  --caption-13-mono-font-size: 13px;
  --caption-13-mono-letter-spacing: 0px;
  --caption-13-mono-line-height: 20px;
  --caption-13-mono-font-style: normal;
  --small-12-mono-font-family: "Roboto Mono", Helvetica;
  --small-12-mono-font-weight: 400;
  --small-12-mono-font-size: 12px;
  --small-12-mono-letter-spacing: 0px;
  --small-12-mono-line-height: 18px;
  --small-12-mono-font-style: normal;
  --t-tulo-card-mobile-font-family: "Open Sans", Helvetica;
  --t-tulo-card-mobile-font-weight: 700;
  --t-tulo-card-mobile-font-size: 20px;
  --t-tulo-card-mobile-letter-spacing: 0px;
  --t-tulo-card-mobile-line-height: 30px;
  --t-tulo-card-mobile-font-style: normal;
  --sombra-2: 0px 4px 4px 0px rgba(37, 37, 37, 0.25);
  --sombra-3: 0px 4px 0px 0px rgba(37, 37, 37, 0.25);
  --sombra-4: 0px 4px 4px 0px rgba(37, 37, 37, 0.25);
  --sombra-5: 0px 8px 4px 0px rgba(37, 37, 37, 0.25);
  --variable-collection-primary-1: rgba(44, 45, 49, 1);
  --variable-collection-primary-2: rgba(224, 108, 117, 1);
  --variable-collection-secondary: rgba(107, 144, 223, 1);
  --variable-collection-tertiary-1: rgba(175, 188, 220, 1);
  --variable-collection-tertiary-2: rgba(233, 234, 236, 1);
  --variable-collection-white: rgba(253, 253, 253, 1);
  --variable-collection-alert: rgba(255, 94, 103, 1);
  --variable-collection-warning: rgba(255, 207, 120, 1);
  --variable-collection-success: rgba(81, 231, 134, 1);
  --variable-collection-background-white: rgba(253, 253, 253, 0.05);
  --variable-collection-neutral: rgba(142, 152, 168, 1);
  --variable-collection-color-primary-black-900: rgba(15, 16, 17, 1);
  --variable-collection-color-primary-black-800: rgba(20, 20, 22, 1);
  --variable-collection-color-primary-black-700: rgba(26, 27, 29, 1);
  --variable-collection-color-primary-black-600: rgba(33, 34, 37, 1);
  --variable-collection-color-primary-black-500: rgba(35, 36, 39, 1);
  --variable-collection-color-primary-black-400: rgba(35, 36, 39, 1);
  --variable-collection-color-primary-black-300: rgba(190, 190, 191, 1);
  --variable-collection-color-primary-black-200: rgba(223, 224, 224, 1);
  --variable-collection-color-primary-black-100: rgba(234, 234, 234, 1);
  --variable-collection-radius-radius-1: 4px;
  --variable-collection-radius-radius-2: 8px;
  --variable-collection-radius-radius-3: 10px;
  --variable-collection-radius-radius-4: 20px;
  --variable-collection-radius-radius-5: 100px;
}
