/* Boton Primary */
.btn-primary {
  margin-top: 24px;
  display: flex;
  padding: 13px 31px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #e06c75 0%, #6b90df 100%);
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.btn-primary:hover {
  transform: translateY(-3px);
  background: var(--Secondary, #6B90DF);
  border: 1px solid var(--Tertiary_2, #E9EAEC);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
/* Boton secondary */
.btn-secondary {
  margin-top: 20px;
  display: flex;
  width: 168px; 
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 13px 31px;
  border-radius: 8px;
  background-color: transparent;
  position: relative;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--Tertiary_2, #e9eaec);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 3px; /* Grosor del borde */
  background: var(--gradient-stroke);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: 1; /* Coloca el borde detrás del contenido del botón */
}
.btn-secondary:hover::before {
  opacity: 0;
}
.btn-secondary:hover {
  transform: translateY(-3px);
  background: var(--Secondary, #6B90DF);
  border: 1px solid var(--Tertiary_2, #E9EAEC);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.btn-secondary:active {
  transform: translateY(1px);
}

/* ------------------------Header styles ------------------------ */
.main-header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  height: 114px;
  gap: 120px;
  border-radius: 8px;
  background: var(--variable-collection-primary-1);
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
}

.logo {
  width: 153.44px;
  height: 37px;
}

.main-nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
  padding: 0;
}
.mobile-nav {
  display: none;
}
.mobile-menu {
  display: none;
}
.logo-mobile {
  display: none;
}
.menu-toggle {
  display: none;
}

.nav-item a {
  color: var(--variable-collection-white);
  font-family: var(--body-large-18-mono-font-family);
  font-size: var(--body-large-18-mono-font-size);
  font-weight: var(--body-large-18-mono-font-weight);
  line-height: var(--body-large-18-mono-line-height);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 4px;
  background-color: var(--variable-collection-white);
  border-radius: 32.5px/2px;
  filter: blur(4px);
  transition: ease-in-out 0.3s;
}

.nav-item a:hover::after {
  width: 100%;
}

.nav-item.active a::after {
  width: 100%;
}
.main-header .btn-primary{
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 168px;
}

/* ------------------------Main content ------------------------ */
.main-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 68px;
}
/*contenedor principal*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 68px;
  padding: 50px;
  width: 100%;
  max-width: 1140px;
  height: auto;
}
.content h2{
  margin-top: 48px;
}
.mapa-neps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 530px;
  height: auto; /* Se ajustará según el contenido */
}

.mapa-img {
  width: 100%; /* Ajusta el tamaño del mapa */
  height: auto;
}

.mapa-neps img.iconos {
  position: absolute;
  animation: pulse 2s infinite;
}

/* Posiciona cada icono */
.icono-1 {
  top: 0%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 100px; /* Tamaño de los iconos */
}

.icono-2 {
  top: 18%;
  left: 26%;
  transform: translate(-50%, -50%);
  width: 80px;
}

.icono-3 {
  top: 36%;
  left: 35%;
  width: 100px;
  transform: translate(-50%, -50%);
}

.icono-4 {
  top: 55%;
  left: 44%;
  width: 100px;
  transform: translate(-50%, -50%);
}

.icono-5 {
  top: 65%;
  left: 53%;
  width: 100px;
  transform: translate(-50%, -50%);
}

/* Animación de pulso */
@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.2);
      opacity: 0.5;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.stats h2 {
  margin-bottom: 48px;
}

.map {
 display: none;
}

/* ------------------------Services section ------------------------ */
.services {
  display: flex;
  width: 100%;
  max-width: 1140px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  /* background: var(--Primario, #2C2D31); */
}
.services h2 {
  margin-top: 48px;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 43px;
}
.our-services-container-1,
.our-services-container-2 {
  display: flex;
  width: 100%;
  max-width: 1140px;
  align-items: flex-start;
  gap: 24px;
}
.service-card {
  display: flex;
  height: 378px;
  padding: 48px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 8px;
  background: var(--variable-collection-background-white);
  transition: transform 0.3s ease;
}
.service-card .btn-secondary{
  width: 219px;
}
.service-card:hover {
  transform: translateY(-5px);
}

.service-icon {
  width: 66px;
  height: 66px;
}
.service-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.service-card h3 {
  text-align: center;
  font-size: 30px;

}

.service-description {
  width: 500px;
  height: 96px;
  color: var(--variable-collection-white);
  text-align: justify;
  font-family: var(--body-large-18-regular-font-family);
  font-size: var(--body-large-18-regular-font-size);
  font-style: normal;
  font-weight: var(--body-large-18-regular-font-weight);
  line-height: var(--body-large-18-regular-line-height);
}
.service-card .btn-secondary{
  width: 219px
}

/* ------------------------Statistics section ------------------------ */
.stats {
  display: flex;
  width: 100%;
  max-width: 1140px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 48px;
}

.stats-container {
  display: flex;
  width: 1140px;
  padding: 40px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--light);

  box-shadow: var(--sombra-2);
  transition: transform 0.3s ease;
}

.stats-container:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.stats-container-content {
  display: flex;
  width: 1140px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.content-stats {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
}
.stat-icon {
  width: 71px;
  height: 71px;
  justify-content: center;
  align-items: center;
  gap: 8.924px;
  border-radius: 3px;
  background: var(--Light, rgba(255, 255, 255, 0.05));
}
.stat-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.stat-content {
  display: flex;
  /* width: 113px; */
  flex-direction: column;
  align-items: flex-start;
}

.stat-number {
  font-family: var(--h2-50-open-semibold-font-family);
  font-size: var(--h2-50-open-semibold-font-size);
  font-weight: var(--h2-50-open-semibold-font-weight);
  background: var(--gradient-stroke);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Open Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.6px;
}

.stat-label {
  font-family: var(--body-16-regular-font-family);
  font-size: var(--body-16-regular-font-size);
  color: var(--variable-collection-white);
  font-family: Roboto;
  font-size: 14.278px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.428px;
}

/* ------------------------Agile section ------------------------ */
.agile-section {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  gap: 208px;
  margin-top: 120px;
}

.agile-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.agile-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--e);
  font-family: var(--h1-60-opensans-semibold-font-family);
  font-size: var(--h1-60-opensans-semibold-font-size);
  font-style: normal;
  font-weight: var(--h1-60-opensans-semibold-font-weight);
  letter-spacing: var(--h1-60-opensans-semibold-letter-spacing);
  line-height: normal;
}

.agile-description {
  color: var(--variable-collection-white);
  font-family: var(--body-large-18-regular-font-family);
  font-size: var(--body-large-18-regular-font-size);
  font-weight: var(--body-large-18-regular-font-weight);
  line-height: var(--body-large-18-regular-line-height);
  text-align: justify;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  width: 520px;
  height: 237px;
}

.service-icon-agile {
  display: none;
}

.agile-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  flex: 1;
  position: relative;
  width: 396px;
  height: 401px;
}
.agile-link-2 {
  display: none;
}
/* ------------------------Remote section ------------------------ */
.remote-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 224px;
  width: 100%;
  max-width: 1140px;
  padding: 0px 8px;
}

.remote-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.remote-title {
  color: var(--e);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Open Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3px;
  margin-bottom: 16px;
  width: 504px;
  height: 64px;
}

.remote-description {
  font-family: var(--body-large-18-regular-font-family);
  font-size: var(--body-large-18-regular-font-size);
  color: var(--variable-collection-white);
  text-align: justify;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.service-icon-remote {
  display: none;
}
.remote-image img {
  width: 396px;
  height: 415px;
  border-radius: 8px;
  flex: 1;
  position: relative;
}

/* ------------------------How Work ------------------------ */
.work-method {
  display: flex;
  width: 100%;
  max-width: 1140px;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  margin-top: 120px;
}
.work-content {
  display: flex;
  width: 100%;
  max-width: 1140px;
  align-items: flex-end;
}
.how-work {
  display: flex;
  width: 540px;
  height: 451px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.work-content h2,
.manager-content h2 {
  font-size: 40px;
  background: linear-gradient(303deg, #6b90df 32.04%, #e06c75 72.99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.how-work h4{
  text-align: left;
}

.work-subtitle {
  color: var(--variable-collection-white);
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 24px;
  text-align: left; /* Alineación a la izquierda */
}
.manager-features {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}

.work-description {
  color: var(--Tertiary_2, #e9eaec);
  text-align: justify;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
}

.work-illustration {
  flex: 1;
  width: 598px;
  height: 453px;
}

.work-illustration img {
  max-width: 100%;
  height: auto;
}

/*---------------- Different Section-------------------------------- */
.difference-section {
  display: flex;
  width: 100%;
  max-width: 1140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-top: 50px;
}
.difference-container {
  display: flex;
  width: 100%;
  max-width: 1140px;
  align-items: flex-end;
  gap: 50px;
}
.manager-content {
  display: flex;
  width: 532px;
  height: 506px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.difference-illustration {
  display: flex;
  width: 558px;
  height: 392px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.strong-difference {
  color: var(--Tertiary_1, #afbcdc);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 120% */
}

.rol-section {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 68px;
}
/* ------------------------Clients Section ------------------------ */
.clients-section {
  display: flex;
  width: 100%;
  max-width: 1140px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-top: 50px;
}
.logos-clients {
  display: flex;
  height: 413px;
  padding: 0px 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 112.719px;
  object-fit: cover;
  border-radius: 23.73px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 11.865px 11.865px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}
.logos-clients-container {
  display: flex;
  width: 1046px;
  height: 411px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px 111.329px;
  flex-wrap: wrap;
}
.logos-clients:hover {
  transform: translateY(-5px);
}

/* ------------------------Testimonials Section ------------------------ */
.testimonials {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.testimonials-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.testimonials-header h4 {
  background: linear-gradient(307deg, #6b90df 7.41%, #e06c75 77.36%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.testimonials-container {
  display: flex;
  width: 1140px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.testimonial-card {
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  height: 423px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.testimonial-content {
  display: flex;
  width: 300px;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px 16px;
  flex-wrap: wrap;
}
.testimonial-text {
  display: flex;
  width: 300px;
  height: 252px;
  flex-direction: column;
  justify-content: flex-start;
}
.author-info {
  display: flex;
  width: 300px;
  margin-top: 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px 16px;
  flex-wrap: wrap;
}
.author-image {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(to right, #e06c75, #6b90df);
}

.testimonial-author {
  display: flex;
  width: 300px;
  align-items: flex-start;
  gap: 20px 16px;
  flex-wrap: wrap;
}

.author-name {
  width: 199px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.author-company {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  width: 300px;
  height: 26px;
  gap: 8px;
  flex-wrap: wrap;
}

/* -------------------------Novedades section----------------------- */
.news-section,
.webinars-section {
  display: flex;
  width: 1140px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.news-container,
.webinars-container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.news-card,
.webinar-card {
  display: flex;
  width: 364px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 8px;
  background: var(--Background--white, rgba(253, 253, 253, 0.05));
}
.news-image,
.webinar-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.news-content,
.webinar-content {
  display: flex;
  width: 364px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.news-date-container,
.webinar-date-container{
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.news-link,
.webinar-link {
  display: flex;
  width: 168px;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #e9eaec;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}
.news-link:hover,
.webinar-link:hover {
  color: var(--variable-collection-primary-2);
}
.webinar-card,
.news-card {
  background-color: var(--variable-collection-background-white);
  border-radius: var(--variable-collection-radius-radius-2);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.news-card:hover,
.webinar-card:hover {
  transform: translateY(-5px);
}

/* About section */
.about-container-father {
  display: flex;
  width: 1140px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.about-section {
  display: flex;
  width: 1138px;
  flex-direction: column;
  align-items: flex-start;
  gap: 144px;
  /* gap: 114px; */
}
.principles-image {
  width: 100%;
  height: auto;
  margin-bottom: 48px;
}

.team-container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.team-card {
  display: flex;
  width: 558px;
  height: 547px;
  padding: 48px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background-color: var(--variable-collection-background-white);
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px);
}
.team-photo {
  width: 150px;
  height: 150px;
}

.team-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-info {
  display: flex;
  width: 503px;
  align-items: center;
  align-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.team-name {
  color: var(--Tertiary_2, #e9eaec);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
}

.social-links {
  display: flex;
  padding: 12.725px;
  justify-content: flex-end;
  gap: 12.725px;
}

.team-quote {
  margin-top: 20px;
}

/* Contact section */
.contact-section {
  /*contenedor principal*/
  display: flex;
  width: 100%;
  max-width: 1140px;
  height: 720px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-top: 50px;
}
.contact-form {
  display: flex;
  width: 100%;
  max-width: 1140px;
  height: 584px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-container {
  /*contenedor principal*/
  display: flex;
  width: 100%;
  height: 650px;
  padding: 48px 108px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: var(--Background--white, rgba(253, 253, 253, 0.05));
}

.form-group {
  display: flex;
  width: 840px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.form-group label {
  display: flex;
  width: 409px;
  height: 20px;
  padding-right: 347px;
  align-items: center;
  color: var(--Tertiary_2, #e9eaec);

  /* texto input _ Label */
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.form-group input {
  color: rgba(44, 45, 49, 0.5);
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid var(--Gradient_Button, #e06c75);
  background: var(--Tertiary_2, #e9eaec);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.15px;
}
.form-group textarea {
  display: flex;
  width: 840px;
  height: 232px;
  min-width: 408px;
  max-width: 840px;
  min-height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid var(--Gradient_Button, #e06c75);
}
.form-group textarea::placeholder {
  flex: 1 0 0;
  align-self: stretch;
  color: rgba(44, 45, 49, 0.5);
  font-feature-settings: "liga" off, "clig" off;
  padding: 12px 16px;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.15px;
}
.form-container .btn-primary{
  width: 168px;
  justify-content: center;
  align-items: center;
}

/* Footer styles */
.footer-container {
  /*contenedor principal*/
  display: flex;
  height: 392px;
  width: 100%;
  max-width: 1140px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.footer-content {
  display: flex;
  width: 1140px;
  height: 226px;
  align-items: flex-start;
  gap: 50px;
}

.footer-media {
  display: flex;
  height: 226px;
  flex-direction: column;
  align-items: flex-start;
}
.footer-media-content {
  display: flex;
  width: 254px;
  padding-bottom: 29px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.583px;
}
.footer-logo-container {
  display: flex;
  width: 254px;
  padding-bottom: 29px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.583px;
}
.footer-social-media {
  display: flex;
  width: 254px;
  height: 35px;
  padding-right: 125px;
  align-items: flex-start;
  gap: 12px;
}
.copyright {
  width: 417px;
  height: 49px;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 181.25% */
}
.footer-link {
  background: linear-gradient(
    301deg,
    #e06c75 25.7%,
    #6b90df 91.91%,
    #e06c75 56.81%,
    #e06c75 57.34%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.footer-services {
  display: flex;
  width: 690px;
  height: 226px;
  align-items: flex-start;
  gap: 60px;
}
.footer-menu {
  display: flex;
  height: 226px;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}
.footer-menu-content {
  display: flex;
  width: 140.7px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
}
.footer-menu h3 {
  display: flex;
  width: 140.7px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
}
.footer-menu-list-services {
  color: #d3d3d3;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  display: flex;
  width: 209px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 360px) and (max-width: 768px) {
  /* Navbar----------------------- */
  h2{
    width: 95%;
    font-size: 30px;
  }
  h4{
    width: 90%;
    font-size: 24px;
  }
  .main-header {
    width: 100%;
    max-width: 428px;
    height: 42px;
    padding: 9px 34.289px 9px 22px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: block;
    width: 61.711px;
    height: 23.056px;
  }

  .menu-toggle {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .main-nav,
  .main-header
  .btn-primary {
    display: none;
  }

  /* Estilos del menú móvil */
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2c2d31;
    z-index: 1000;
  }

  .mobile-menu.active {
    display: block;
  }

  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .close-menu {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .mobile-nav {
    padding: 20px;
    display: block;
  }

  .mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mobile-nav .nav-item {
    margin-bottom: 20px;
  }

  .mobile-nav .nav-item a {
    color: var(--White, #fdfdfd);
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
    display: block;
  }
  /* --------------------Main Container------------------------- */
  .main-container {
    gap: 68px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
  }
  .content {
    padding: 20px;
    gap: 40px;
    width: 100%;
    justify-content: center;
  }
  .mapa-neps{
    display: none;
  }
  .map {
    display: flex;
    align-self: center;
    margin: 0 auto;
    width: 325.162px;
    height: 316.698px;
  }
  /* --------------------Seccion servicios------------------------- */

  .services {
    /* margin-left: 20px; */
    width: 100%;
  }
  .services-container {
    width: 100%;
    gap: 20px;
  }
  .service-header {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .service-icon {
    width: 32px;
    height: 32px;
  }
  .service-card h3{
    font-size: 20px;
  }
  .service-title {
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
  }
  .our-services-container-1,
  .our-services-container-2 {
    flex-direction: column;
    width: 90%;
    gap: 20px;
  }
  .service-card {
    width:100%;
    padding: 24px 16px;
    border-radius: 8px;
    align-items: flex-start;
    gap: 40px;
  }

  .service-description {
    width:100%;
    color: #fff;
    margin-top: 8px;

    text-align: justify;
    /* Body - 16 Regular */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  /* --------------------modificar------------------------- */
  .stats {
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }

  .stats-container {
    width: 90%;
  }
  .stats-container-content {
    width: 100%;
  }

  .content-stats {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 24px;
  }

  .stat-item {
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    background: rgba(253, 253, 253, 0.05);
    border-radius: 8px;
    gap: 40px;
    width: 100%;
  }

  .stat-item img {
    width: 24px;
    height: 24px;
  }

  .stat-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
  }

  .stat-number {
    color: #e06c75;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
  }

  .stat-label {
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }

  /* --------------------agile seccion------------------------- */

  .agile-section {
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }

  .agile-title {
    font-size: 34px;
    letter-spacing: -2px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .agile-description {
    width: 90%;
    align-self: center;
    height: auto;
    font-size: 18px;
  }

  .agile-image img {
    display: none;
  }
  .about-section {
    width: 428px;
  }
  .agile-section .btn-secondary {
    display: none;
  }
  .agile-link-2 {
    margin-top: 44px;
    display: flex;
    align-self: center;
    padding: 13px 31px;
    background: linear-gradient(91deg, #e06c75 0%, #6b90df 100%);
    border: none;
    border-radius: 8px;
    color: var(--variable-collection-tertiary-2);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .service-icon-agile {
    display: flex;
    align-self: center;
    width: 66px;
    height: 66px;
  }
  /* --------------------100% remotos seccion------------------------- */

  .remote-section {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .remote-section .btn-secondary {
    display: none;
  }
  .remote-content {
    width: 100%;
  }
  .remote-title {
    width: 100%;
    font-size: 34px;
  }
  .service-icon-remote {
    display: flex;
    align-self: center;
    width: 66px;
    height: 66px;
  }
  .remote-description {
    font-size: 18px;
    width: 90%;
    align-self: center;
  }
  .remote-title {
    text-align: center;
  }
  .remote-image img {
    display: none;
  }
  /* --------------------seccion noostros------------------------- */
  .about-section {
    width: 100%;
  }
  .about-container-father {
    width: 100%;
    gap: 0;
    justify-content: center;
  }
  
  .about-title-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
  }


  .team-container {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .team-card {
    width: 90%;
    justify-content: center;
    flex-direction: row;
    height: 100px;
    padding: 16px 16px;
    margin: 0 auto;
  }

  .team-photo {
    width: 50px;
    height: 50px;
  }

  .team-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }

  .team-name {
    color: var(--Tertiary_2, #e9eaec);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    /* padding-right: 70px; */
    width: 100%;
  }

  .team-role {
    color: rgba(233, 234, 236, 0.6);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    align-self: flex-start;
  }

  .social-links {
    display: none;
  }

  .team-quote {
    display: none;
  }

  /* --------------------seccion como trabajamos------------------------ */

  .work-method {
    margin-top: 60px;
    align-items: center;
    gap: 48px;
    width: 100%;
  }

  .work-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
  .work-content h2,
  .manager-content h2{
    width: 95%;
    font-size: 30px;
  }

  .how-work {
    width: 100%;
    height: auto;
    align-items: center;
    gap: 24px;
  }
  .work-description{
    width: 90%;
  }

  .work-illustration {
    display: none;
  }
  .work-subtitle {
    text-align: center;
    width: 90%;
  }
  /*-------------------- Sección Different-------------------- */
  .difference-section {
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin: 0 auto;
  }

  .difference-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
  .manager-features{
    width: 90%;
  }
  .manager-content {
    width: 100%;
    height: auto;
    align-items: center;
  }

  .difference-illustration {
    display: none;
  }

  /*-------------------- Sección Clientes-------------------- */
  .clients-section {
    width: 387px;
    margin: 0 auto;
    display: none;
  }
  .logos-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 387px;
    padding: 40px 16px;
    height: auto;
  }

  .logos-clients-container {
    display: flex;
    width: 295px;
    height: 169px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px 37.531px;
    flex-wrap: wrap;
  }
  .logos-clients-container img {
    width: 71.555px;
    height: 20.396px;
  }


  /*-------------- novedades y webinar------------------- */
  .webinar-card, .news-card{
    width: 90%;
    margin: 0 auto;
  }
  .news-section, .webinars-section{
    width: 100%;
  }
  .webinars-container, .news-container{
    width: 90%;
  }
  .webinar-title, .news-title{
    width: 90%;
    padding: 0;
  }
  .news-carousel-controls,
  .webinar-carousel-controls {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
  }
  .webinar-image,
  .news-image {
    width: 100%;
    height: 300px;
  }
  .news-content, .webinar-content{
    width: 90%;
  }
  .carousel-dot {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .btn-secondary {
    width: 168px;
    align-self: center;
  }
  .carousel-dot.active {
    background: linear-gradient(91deg, #e06c75 0%, #6b90df 100%);
    width: 10px;
    height: 10px;
  }
  /*-------------------- Sección Testimonials-------------------- */
  .testimonials {
    width: 100%;
  }

  .testimonials-container {
    width: 90%;
    margin: 0 auto;
  }
  .testimonial-content{
    width: 90%;
    gap: 24px;
  }
  .testimonial-card {
    width: 90%;
  }
  .testimonials-header h4{
    width: 100%;
    font-size: 24px;
  }
  .author-info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .author-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }


  .carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
  }

  .carousel-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #d9d9d9;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .carousel-dot.active {
    background: linear-gradient(91deg, #e06c75 0%, #6b90df 100%);
  }

  .testimonials-container {
    width: 90%;
  }

  .author-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
  }

  .author-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }


  .carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
  }

  .carousel-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #d9d9d9;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .carousel-dot.active {
    background: linear-gradient(91deg, #e06c75 0%, #6b90df 100%);
  }

  /*-------------------- Sección Contact form-------------------- */
  .contact-section {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    gap: 0;
  }

  .contact-form {
    width: 90%;
  }

  .form-container {
    width: 90%;
    padding: 30px 20px;
    height: auto;
  }

  .form-group {
    width: 90%;
  }
  .form-group label{
    padding: 0;
    width: 90%;
  }
  .form-group textarea {
    min-width: 200px;
    width: 100%;
    min-height: 100px;
    height: 50px;
    resize: vertical;
    overflow: auto;
  }

  /* ------------------------Footer section-------------------------*/
  .footer-container {
    grid-area: footer;
    width: 100%;
    /* padding: 44px 20px; */
    align-items: center;
    height: 1024px;
    justify-content: normal;
  }
  .footer-content {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    justify-content: center;
  }
  .footer-media {
    align-items: center;
    text-align: center;
    order: 2;
    height: 450px;
    justify-content: flex-end;
  }
  .linear {
    width: 338.001px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
  }
  .copyright {
    width: 338px;
  }
  .footer-social-media {
    justify-content: center;
    padding-right: 0;
    width: 100%;
  }
  .footer-social-media img {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 12.725px;
    gap: 12.725px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.05);
  }
  .footer-logo-container {
    align-items: center;
    width: 100%;
  }
  .footer-services {
    width: 100%;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    height: 428px;
    order: 1;
  }
  .footer-menu {
    align-items: center;
    height: 408px;
    width: 338px;
  }
  .footer-menu-list-services {
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .footer-content h3 {
    text-align: center;
    width: 100%;
    font-size: 24px;
  }
}
@media (min-width: 576px) and (max-width:768px){
  h2{
    width: 95%;
    font-size: 34px;
  }
  .services h2{
    width: 95%;
  }
  .main-header {
    max-width: none;
    width: 90%;
  }
  .content{
    width: 100%;
  }
  .mapa-neps{
    display: none;
  }
  .map {
    display: flex;
    width: 405.162px;
    height: 400.698px;
  }

  .service-card h3{
    font-size: 24px;
  }
  .about-container-father{
    gap: 80px;
  }
  .principles-image{
    margin-top: 20px;
    width: 90%;
  }
  .service-card .btn-secondary{
    align-self: center;
  }
  .service-icon {
    width: 52px;
    height: 52px;
  }
  .author-info{
    width: 90%;

  }
  .testimonial-text{
    width: 90%;
  }
  .testimonial-content{
    width: 100%;
  }
  .testimonial-card{
    flex: none;
  }
}
